#negra{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    #azul {
    display: grid; /*flex*/
    grid-template-columns: 1fr 1fr 1fr; /* 300px 300px 300px;*/
    /**gap: 15px;**/
    row-gap: 10px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 99%;

    /**display: grid;
    grid-template-columns: (3, f3);
    row-gap: 10px;
    overflow: hidden;**/
    }
    .paisciudad:hover {
        position: relative;
        top: 80px;
        margin-left: 15px;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
    /**.paisciudad:hover**/

    .propiedades {/**fuera**/
        /*object-fit: cover;*/
        max-width: 95%
        /**height: 311px**/
    }
        
    #pais {
        font-family: "PFR-Regular";
        font-size: clamp (2.44rem, 4.53vi + 1.31rem, 4.93rem); /**era 40px**/
        font-weight: 400;
        color: grey;
    }
    #ciudad {
        font-family: "PFR-Regular";
        font-size: clamp(0.8rem, 0.68vi + 0.63rem, 1.17rem);/**era 40px**/
        font-weight: 600;
    }

/**@media screen and (max-width=768){
    .contenidoseccion1{
        display: none;
    }
    #negro{
    display: grid;
    grid-template-columns: 1fr;
    }
}**/